<div id="dg_faqs" class="banneredContainer window">

	<div class="header">
		<div class="left edge"> </div>
		<div class="centre">
			<div class="title">
				<span>Frequently Asked Questions</span>
			</div>
		</div>
		<div class="right edge"> </div>
	</div>
	<div class="body">

		<div class="listWrapper">
		<ul>
	        <li>
	          <div>What is Kiinzel?</div>
	
	          A wicked social peer-to-peer marketplace that allows users to tradeUP towards their big life goals! Everyone has something they aren't using that would have value to someone else now. We want to recreate the 'Kyle MacDonald Red Paperclip' experience on a global level to help you live collaboratively while achieving personal fulfillment!  
	        </li>
	        <li>
	          <div>How does Kiinzel work?</div>
	
	          Kiinzel provides a fresh social platform that allows users to create listings for almost anything, trade with other users, while sharing their interests, activities and big goals. You will be able to offer a wide range of goods and services to others in a few simple steps! Here's how you can totally do it:
	          <ul>
	            <li>Simply create your profile, it's super easy! </li>
	            <li>Create a listing you want to Kiinzel with a title, description and a couple images (But your chances to Kiinzel faster increase with the more listings you have.)</li>
	            <li>Explore for listings that match your interests, activities and wishlist</li>
	            <li>Once you find a listing you want to Kiinzel or tradeUP for, make an offer!</li>
	            <li>After the offer is accepted you make arrangements to make the exchange or ship it.</li>
	            <li>After the trade you both confirm the items have been Kiinzelled and are encouraged to write a review for each other based on your experience.</li>
	          </ul>
	        </li>
	        <li>
	          <div>How do I reach my Kiinzel Dream?</div>
	
	          Well you remember tradezies as a kid right? You traded up with others because you thought their item was better than yours - perceived value is what makes trading up possible. A&E's Barter Kings Steve and Antonio have some rad tips that we just have to share.
	
	          <div>Barter King Steve's Tips:</div>
	          <ul>
	            <li>Decide if you are going to start a trade for a specific goal/item or just to see what you can accomplish. If you are just doing it to see what you can accomplish, than don't put pressure on yourself and just have fun. You will be amazed at how far you can get.</li>
	            <li>People always like to mention what their item sold for when it was brand new. Even if they got 50% off, they only mention what it was selling for at full retail price when it was new. You have to learn to address this issue quickly and effectively. If someone is willing to trade an item, they do not see a value in keeping it. You have to figure out that reason and justify the trade from there. </li>
	            <li>If you want to take a trade string far, you can't always worry about the exact value of an item. Trade value is way different than actual value. If I'm planning on making a trade string work, I like to start with items that people can't shop a value for - unique items, rare items, or hard-to-get items. I want to trade to an item that I know could be hard to move because I can get it easier if the other trader has had a problem trading or selling the item. When I find the right person to trade it to and they can't put an exact value on the item, it helps me make bigger value jumps and I can do less trades. But it is harder to do fast and takes patience.</li>
	            <li>When I post something for trade, I make sure to take good photos and be specific about details, but I leave out some information so that the person who is interested will contact me.</li>
	          </ul>
	
	          <div>Barter King Antonio's Tips:</div>
	          <ul>
	            <li>Start small either with lower cost items</li>
	            <li>Your best strategy in a trade is your knowledge on the item. If you don't know about it, don't trade with it.</li>
	            <li>Never bring cash to a trade.</li>
	          </ul>
	
	          The trade up possibilities within your city are endless!
	        </li>
	
	        <li>
	        <div>Is Kiinzel available to everyone?</div>
	
	        Kiinzel is currently open to everyone in Toronto, Canada. We want to make Kiinzel awesome to the max, so we're going to do that by allowing other cities across North America to unlock themselves.  Your city only needs 75 users and listings to activate! It's that easy!
	        </li>
	
	        <li>
	          <div>Why does Kiinzel think it's so awesome?</div>
	
	          You have to ask? (LOL Just Kidding!) Kiinzel was born out of a vision to be a global social marketplace that creates stronger communities and promotes collaborative living. Our purpose is to enrich the lives of our users, increase your happiness, promote random acts of kindness and help the environment! Kiinzel wants to make YOU smile and leave positive clawprints around the world. And seriously what's more wicked than a platform that wants to help you complete your bucket list?!
	        </li>
	        <li>
	          <div>How do I get an account on Kiinzel?</div>
	
	          That's easy! Just visit our homepage at www.kiinzel.com and signup. You can register using Facebook or use the signup form to enter your name, email address and password. If you register by Facebook it saves you a step when you invite your Facebook friends to Kiinzel. Plus signing up with a social network will become important for your rating and help identify social proximity with other users later on. This is the best way to establish trust with users! Ability to signup by Twitter is in the works!
	        </li>
	        <li>
	          <div>What can I post or expect to find on Kiinzel?</div>
	
	          You can create listings for almost anything, here are the top categories: Baby & Kids, Books & Texts, DVDs, Electronics, Home & Garden, Fashion, Music, Sports, Toys, and Video Games; if you have a professional service awesome, list it under Other. 
	        </li>
	        <li>
	          <div>What does it cost to use this service?</div>
	
	          Kiinzel is free to use because we want to see you achieve your dreams not limit them. However, to make Kiinzel sustainable we would like to offer cool premium features that will allow more personalization and speed up your tradeUP journey!
	        </li>
	
	        <li>
	        <div>Can I post more than one listing?</div>
	
	        Duh. Yes, of course! The more you list the more chances you have to Kiinzel towards your ultimate goal. 
	        </li>
	
	        <li>
	        <div>How do I like a listing?</div>
	
	        You simply click the heart icon on the listing you like!
	        </li>
	
	        <li>
	        <div>How does the wishlist feature work?</div>
	
	        Simply describe and upload an image of the items or experiences you would love to have - your bucket list. Or you can wishlist other Kiinzeler's listings. By sharing your wishlist other users can propose trades! 
	        </li>
	        <li>
	        <div>How do I send a message to a user?</div>
	
	        You are able to ask questions by clicking on the send a message button on your page.
	        </li>
	        <li>
	        <div>What's next for Kiinzel?</div>
	
	        Kiinzel's next iteration will include social integration into all listings or offerings! So you and your friends can easily share what's cool. We want to give you the best tools to promote your offerings - Facebook, Twitter and Pinterest! 
	        </li>
	        <li>
	        <div>How can I give Kiinzel feedback or ask a question?</div>
	
	        We want your feedback so much that we have made the feedback form available on every page within Kiinzel. Your suggestions, comments and praise is greatly appreciated.
	        </li>
	
	        <li>
	        <div>Where did the name Kiinzel come from?</div>
	
	        Kiin comes from the root word of 'kin', meaning those who think the same or in this case share the same values; 'zel' represents the playful, fun and social side of the platform which is what makes us different from other e-commerce / barter platforms. If you have ideas on how to make Kiinzel even more engaging and fun please share your suggestions with us, we'd love to hear them.
	        </li>
	
	        <li>
	        <div>Why is there a dragon in your logo?</div>
	
	        [Kiinzel] "Isn't it obvious? I'm the magic that makes fulfilling your bucket list possible!  Per Chinese astrology, I was born in the year of the dragon (2012).  Many people believe that those born in the year of the dragon can conquer the world.  After meeting me, I think you will believe it!   
	
	        I want to make a positive difference in your life and on the world.  You will soon discover that I'm full of imagination, power, optimism, and energy.  I hope I rub off on you!"
	        </li>
		</ul>
	</div>
	<div class="footer">
		<hr />
		<div class="btn gray round3">
			<div class="left edge"></div>
			<div class="center"><a href="#" class="close">Close</a></div>
			<div class="right edge"></div>
		</div>
	</div>


	</div>
</div>