<link rel="icon" href="/images/favicon.ico" type="image/ico" />
<link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />
<title>Utopia</title>
<? $core->incl($data, 'meta.tmpl'); ?>

<link rel="stylesheet" type="text/css" href="/css/utopia.css">
<script src="/js/utopia.js" type="text/javascript"></script>