<meta name="author" content="Utopia-Dev-Team, tracy@amorous.com" />
<meta name="description" content="Utopia php MVC Framework" />
<meta name="keywords" content="php, framework, mvc" />

<meta property="og:title" content="Utopia"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://github.com/tallgrrl/utopia"/>
<meta property="og:image" content="https://github.com/tallgrrl/utopia/images/utopiaLogo.png"/>
<meta property="og:site_name" content="Utopia"/>
<meta property="fb:admins" content=""/>
<meta property="og:description" content="Utopia php MVC Framework"/>
<meta property="og:email" content="tracy@amorous.com"/>

<meta itemprop="name" content="Utopia">
<meta itemprop="description" content="Utopia php MVC Framework">
<meta itemprop="image" content="https://github.com/tallgrrl/utopia/images/utopiaLogo.png">
