<meta name="author" content="Kiinzel-Dev-Team, devs@kiinzel.com" />
<meta name="description" content="A gamified social trading network" />
<meta name="keywords" content="Kiinzel, trade, trading, gamified, social" />

<meta property="og:title" content="Kiinzel"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://kiinzel.com/"/>
<meta property="og:image" content="http://kiinzel.com/images/logo_512.png"/>
<meta property="og:site_name" content="Kiinzel"/>
<meta property="fb:admins" content=""/>
<meta property="og:description" content="A gamified social trading network"/>
<meta property="og:email" content="devs@kiinzel.com"/>

<meta itemprop="name" content="Kiinzel">
<meta itemprop="description" content="A gamified social trading network">
<meta itemprop="image" content="http://kiinzel.com/images/logo_512.png">
<meta content="authenticity_token" name="csrf-param" />