<h3>New Guild Created</h3>
<p>The Emperor has granted you the priviledge of running a new Guild. The Guild <br /><a href="/guild/__GUILDID__">__GUILD__ (__GUILDSMALLCAPS__)</a><br />will be yours to run until you die or we find someone better.</p>
<p>Should you decide to hide from this responsibility, and leave the guild, a new leader must be chosen in your absence.  If you do not choose this leader, one will be chosen for you.  If there are no more members in the guild to chose from, the emperor will close this guild, and confuscate all items in guild Bank.</p>
<h4>The Emperor</h4>
