<h3>Welcome to Alpha Pantheon</h3>
<p>Dearest __USERNAME__</p>
<p>The Emperor has granted you the priviledge of playing this Alpha version of what we hope to be a very exciting new game.</p>
<p>If you are lost as to how to do things, check out the forums <a href="http://forums.ntheon.com">HERE</a></p>
<p>Everyone that has been invited to participate is expected to help out with bug tracking, as well as balance issues (things too weak or too strong), timing issues (too long to make something), or just plain comments (good or bad)</p>
<o>The team has put a lot of time into this game, and we hope you enjoy it!</p>
<h4>The Emperor</h4>
